body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6f8f9;
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.align{
    align-items: center;
}
.coloumn{
    display: flex;
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.space{
    justify-content: space-between;
}
.float{
    float: right;
   
}
.top{
    background-color: white;
    width: 100vw;
}
.navbar{
    /* width: 60em; */
    background-color: white;
    height: 5em;
    margin: 0 10em;

}
img{
    width: 2em;
    height: 2em;
}
.line{
    border-left: #e3e7e9 1px solid;
    height: 5em;
    width: 1px;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
input{
    border: none;
    width: 9em;
}
input:focus{
    outline: none;
}
.search{
    border: solid 1px #e3e7e9;
    padding: .3em;
    border-radius: 10em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
}
.home{
    width: 30em;
    margin: 0 1.5em;
    font-weight: 300;
}
#home1{
    color:red;
}
.icon{
    width: 7em;
}
#avatar,#avatar1{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.post{
    background-color: white;
    width: 100vw;
    height: 3em;
    margin-top: 2px;
}
.wide{
    width: 30em;
    margin-left: 12em;
    font-weight: 300;
    font-size: 13px;
}
#post,#post1{
    padding-bottom: 1em;
    margin-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}
#post1{
    border-bottom: rgb(115, 184, 233) 2px solid;
    
}
#post:hover{
    border-bottom: rgb(115, 184, 233) 2px solid;
    cursor: pointer;

}
.left{
    background-color: white;
    height: 32em;
    width: 14em;
    margin-left: 10em;
    margin-top: 1.5em;
    padding: 2em 0;
}
#avatar1{
    width: 6em;
    height: 6em;
    margin: 0 auto;
}
#avatar2{
    margin: 0;
    width: 7em;
    height: 7em;
    margin-bottom: 3em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#name{
    margin: 1em auto 0;
    font-weight: 500;
    font-size: 19px;
}
#foun{
    margin: .2em auto;
    font-weight: 400;
    font-size: 13px;

}
#great{
    font-weight: 400;
    color: grey;
    margin:.2em auto;
    font-size: 13px;

}
.follow,.connect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    margin:.5em 2em;
    height: 1em;
    color: white;
    padding: .5em;
    background-color:rgb(115, 184, 233);
    border-radius: 10em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
}
.connect{
    background-color: white;
    border: rgb(115, 184, 233) 1px solid;
    color: rgb(115, 184, 233);
}
.tri{
    width: 14em;
    margin-top: 1em;
    border-top: 1px solid #e3e7e9;
    border-bottom: 1px solid #e3e7e9;
    justify-content: space-between;
    align-items: center;
    /* padding: 1em; */
}
.arr{
    align-items: center;
}
.down{
    border-left: 1px solid #e3e7e9;
    height: 5em;
    width: 7em;
    justify-content: center;
}
.up{
    margin-left: 1em;
}
#amnt{
    font-weight: 500;
}
#con{
    font-size: 13px;
    font-weight: 400;
    color: #b3b5b6;
}
.link{
    padding: 1em 1em 0;
}
#link{
    color: #b3b5b6;
    margin-left: .5em;
    font-size: 13px;
    
}
.bottom{
    border-bottom: 1px solid #e3e7e9;
    padding-bottom: 1em;

}
.mid{
    width: 40em;
    height: 22em;
    background-color: white;
    margin-top: 1.5em;
    margin-left: 1em;
}
#arc{
    width: 12em;
    height: 12em;
}
.pics1{
    width: 13em;
}
.head{
    border-bottom: #e3e7e9 1px solid;
    padding: 1em;
}
.arrow{
    width: 1em;
    height: 1em;
    padding: .5em;
    border: 1px solid rgb(0, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.row{
    width: 4.5em;
    justify-content: space-between;
}
.sub{
    padding: 1em;
    width: 40em;
}
#myths{
    width: 11em;
    font-size: 15px;
    font-weight: 400;
}
#head{
    font-weight: 500;
    font-size: 15px;
}
#feb{
    font-weight: 300;
    font-size: 12px;
    color: #b3b5b6;
}
.float{
    margin-right: 13.5em;
    margin-top: 1.5em;
    /* height: 35em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.peo{
    width: 10em;
    /* justify-content: space-between; */
    align-items: center;
    margin: .8em 0;
}
.margin{
    margin-left: .5em;
}
#people{
    font-weight: 300;
    font-size: 14px;
}
#user{
    font-weight: 400;
}
#google{
    font-size: 13px;
    color: #b3b5b6;
    font-weight: 300;
}
.base{
    align-items: baseline;
}
.more{
    height: 13em;
    margin-top: 2em;
}
.tp{
    margin-top: 4em;
    height: 6em;
}
#use{
    font-weight: 600;
    font-size: 17px;
}
#go{
    font-weight: 300;
    font-size: 13px;
    color: #b3b5b6;
}
.back{
    margin-left: 0;
}
.sum{
    margin-top: 2em;
    margin-left: 1em;
    width: 10em;
    align-items: center;
}
#sum{
    font-weight: 300;
    font-size: 20px;
    margin-left: .5em;
}
.lorem{
    margin: 1em 1em 1em 3em ;
    font-weight: 300;
}
.ball{
    width: .1em;
    height: .1em;
    border: #b3b5b6 1px solid;
    padding: .2em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.shift{
    margin-left: 3em;
}
.tin{
    border-left: #b3b5b6 1px solid;
    height: 5em;
    padding: 1em;
    margin-top: -.5em;

}
#date{
    font-size: 12px;
}
