body{
    padding: 0;
    margin: 0;
}
.flex{
    display: flex;
}
.align{
    align-items: center;
}
.center{
    align-items: center;
    justify-content: center;
}
.space{
    justify-content: space-between;
}
.float{
    float: right;
}