body{
    padding: 0;
    margin: 0;
    background-color: #f6f8f9;
}
.flex{
    display: flex;
}
.align{
    align-items: center;
}
.center{
    align-items: center;
    justify-content: center;
}
.space{
    justify-content: space-between;
}
.float{
    float: right;
}
.top{
    background-color: white;
    width: 100vw;
}
.navbar{
    width: 60em;
    background-color: white;
    height: 6em;
    margin: 0 10em;

}
img{
    width: 2em;
    height: 2em;
}
.line{
    border-left: #e3e7e9 1px solid;
    height: 6em;
    width: 1px;
}
input{
    border: none;
}
input:focus{
    outline: none;
}
.search{
    border: solid 1px black;
    padding: .3em;
    border-radius: 10em;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    -o-border-radius: 10em;
}
.home{
    width: 20em;
}
